#! /bin/zsh
{{- if ne .user_data.profile "workspace" -}}

echo "Copying fonts..."
# Copy any fonts to the font book
cp -r {{ .chezmoi.workingTree }}/fonts/* {{ .chezmoi.homeDir }}/Library/Fonts

echo "Linking wallpapers..."
# Link wallpapers to the Pcitures folder
ln -s {{ .chezmoi.workingTree }}/wallpapers {{ .chezmoi.homeDir }}/Pictures/wallpapers
{{- else -}}
echo "[chezmoi] skipping {{ base .chezmoi.sourceFile }} — this is a cloud workspace"
{{- end }}
